* {
    margin: 0;
    padding: 0;
}


.navigationbar {
    height: 42px;
    background: aqua;
    display: flex;
    padding: 0px 10px 0px 5px;
    /* width: 100vw; */
    /* position: fixed; */
   

}

nav {
    display: flex;
    width: 82vw;
    height: 42px;
    flex-direction: row;
    /* align-content: center; */
    /* justify-content: center; */
    /* float:right; */
    flex-flow: row-reverse;


}

.logo {
    width: 42px;
    /* justify-content: left; */
}
.navigationbar .logotext  {
    font-size: 30px;
    width: 200px;
    /* height: 42px; */
    color: red;
    align-self: center;
}

ul {
    display: flex;
}

ul li {
    /* float: left; */
    list-style: none;
    align-self: center;
    padding-left: 25px;
    
}
.explore{
    /* transform: translate(-800px); */
    font-size: 21px;
    /* width: 200px; */
    /* height: 42px; */
    /* color: red; */
    align-self: center;
    

}

nav ul li p {
font-size: 21px;
}
.joinbutton {
    height: 35px;
    padding: 0px 10px 0px 10px;
    display: flex;
    background: rgb(37, 37, 134);
    border-radius: 20px;
    justify-self: right;
    color: aqua;
}

.profile {
    align-self: center;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 25px;
}

.jointext {
    align-self: center;

}



/* this is the starting of main */

main{
    background: red;
    height: 1000vh;
    display: flex;
    align-items:flex-start;
    justify-content: center;
}
.containerforbg{
    height: 70vh;
    display: flex;
    align-items:center;
    justify-content: center;
    background: green;
    flex-direction: column;

}
.quots{
    font-size: 80px;
    color: rgb(21, 34, 91);
}
.inputforquery{
    outline: none;
    background: white;
    border: 2px solid wheat;
    border-radius: 3px;
    padding: 5px 5px 5px 10px;
    width:20vw;
    height: 7vh;
}
.searchbutton{
    background: blue;
    border-radius: none;
    height: 7vh;
    width:20vw;
    outline: none;
    padding: 5px;
}