@media screen and (max-width: 600px) {
    .dec{
      position: relative;
      top:-10px;
      left:85px;
      width: 50vw;
      font-size: 1rem;
    }
    .verticle{
        margin: 150px 0;
    }
    .horozontal{
        height: 1550px;
    }
    
}